#text{
    text-align: center;
    padding: 20px;
    margin: 3%;
}
.landing{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 17%;
}
.back2{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 8%;
}

#what-we-do{
    display: ;
}
body{
    margin: 0;
    padding: 0;
    
}
#port{
    text-align: center;
}
.container .portfolio{
    width: 1280px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .portfolio .box{
    position: relative;
    width: 255px;
    height: 200px;
    background: #ff0;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .portfolio .box .imgbox{
    position: relative;
    overflow: hidden;
}
.container .portfolio .box .imgbox img{
    max-width: 100%;
    transition: 2s;
}
.container .portfolio .box:hover .imgbox img{
    transform: scale(1.2);
}
.container .portfolio .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;

}
.container .portfolio .box:hover .details{
    transform: scaleY(1);

}
.container .portfolio .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: white;
}