#text{
    text-align: center;
    padding: 20px;
    margin: 7%;
}
.landing{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 17%;
}
.back2{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 8%;
}